html,
body {
   margin: 0;
   height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#c {
   width: 100%;
   height: 100%;
   display: block;
}

.ui {
   padding: 1em 2em;  
   background-color: #111;
   color: #fff;
   
   & a {
      color: #fff;
      text-decoration: none;
   }
}

.ui-bar {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding: 0;

   & ul {
      @media only screen and (min-width: 600px) {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      list-style: none;
      text-align: center;
      padding-left: 0;

      & a {
         display: block;
         padding: 0.5em;
      }
   }
}