html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

canvas {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}